<%- include ('layouts/header.ejs')-%>
<% if (Libros) { %>
    <link rel="stylesheet" href="/stylesheets/login.css">

<body>
  <sectio class="form-main">
      <div class="form-content">
          <div class="box">
              <h3>Agregar nuevo Articulo</h3>
              <form action="/edit" method="POST">
                <input id="ID" name="ID" value="<%= Libros.ID %>">
                <div class="form-group">
                  <label for="user" class="form-label">Nombre</label>
                  <input type="text" name="nombre" id="nombre" value="<%= Libros.nombre %>" class="form-control">
                </div>
                <div class="form-group">
                  <label for="user" class="form-label">Imagen</label>
                  <input type="text" name="imagen" id="imagen" value="<%= Libros.imagen %>" class="form-control">
                </div>
                <div class="form-group">
                  <label for="user" class="form-label">Descripcion</label>
                  <input type="text" name="descripcion" id="descripcion" value="<%= Libros.descripcion %>" class="form-control">
                </div>
                <div class="form-group">
                  <label for="user" class="form-label">Precio</label>
                  <input type="text" name="precio" id="precio" value="<%= Libros.precio %>" class="form-control">
                </div>
                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
              </form>
    
              <!--<p>No tienes una cuenta? <a href="signup" class="gradient-text">Crear Cuenta</a></p>-->
          </div>
      </div>
  </sectio>
<% } %>
  <%- include ('layouts/footer.ejs')-%>
